#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  
}

.counterin-arvo {
  background-color: lime;
  color: black;
  padding: 10px;
  width: 30px;
  text-align: center;
}
.nappi {
display: block;
width: 50px;
margin-block-end: 5px;
}